body {
    background-color: lemonchiffon ;
    margin: 0px;
}

header h1{
    font-style: italic;
    text-align: center;
}

header nav ul {
    justify-content: center;
    display: flex;
    list-style: none;
    margin: 0 15px;
    
}

header nav ul li {
    margin: 0 15px;
}
.aside-one {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-one h2, .aside-two h2{
    margin-left: 25px;
}

footer{
    font-size: 10px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    body {
        margin: 0px;
    }
    .main-content {
        padding: 20px;
    }
}
@media screen and (min-width: 1100px) {
    .main-content {
        max-width: 1000px;
    }
}