. grupo-torre-1 {
    display: flex;
    align-items: flex-end;
    }
    . grupo-torre-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }