. grupo-torre-1 {
    display: flex;
    alinhar itens: extremidade flexível;
    justificar conteúdo: espaço ao redor;
    }
    . grupo-torre-2 {
    display: flex;
    justificar conteúdo: centro;
    }
    . grupo-torre-3 {
    display: flex;
    justificar conteúdo: espaço ao redor;
    }