.pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    min-width: 25%;
    margin: 10px 10px;
    border: 1px gray solid;
    border-radius: 10px;
}

.pokedex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
}