@charset "utf-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(154, 223, 255);
}
.header {
    background-image: url("images/Stomatopoda3.jpg");
    background-size: cover;
    background-position: 50% 25%;
    padding: 170px 20px;
    
    
  }
h1 {
    color: white;
    margin-left: 0px;

}
footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin: px;

}
.foto-fatos {
    width: 300px;
    

}