. grupo-torre-1 {
    display: flex;
    justify-content: space-between;
    }
    . tower-1-1 {
    align-self: flex-end;
    }
    . tower-1-2 {
    align-self: auto;
    }
    . tower-1-3 {
    align-self: flex-end;
    }
    . tower-1-4 {
    align-self: auto;
    }