.tower-group-1 {
    display: flex;
    justify-content: space-between;
    }
    .tower-1-1 {
    align-self: auto;
     order: 0;
    }
    .tower-1-2 {
    align-self: center;
    order: 3;
    }
    .tower-1-3 {
    align-self: center;
    order: 1;
    }
    .tower-1-4 {
    align-self: center;
    order: 2;
    }
    .tower-1-5 {
    align-self: flex-end;
    order:4;
    }