* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    color: rgb(93, 96, 99);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

header {
    font-size: 20px;
    text-align: center;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    width: 500px;
    margin: 20px;
    padding: 20px;
}
fieldset {
    
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    line-height: 30px;
    
}